/* nav */

nav {
    position: relative;
    background: rgb(0, 0, 0, 0.55);
}

nav ul li a {
    color: #12B1FC;
}

/* tabs */

a {
    text-decoration: none;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
    width: 100vw;

}

.team {
    display: flex;
    justify-content: space-between;
    padding: 4vw;
    font-size: 2vw;
    font-weight: 700;
    color: #AC88FF;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vw;
}

.tab:hover {
    border: 1px solid #AC88FF;
    cursor: pointer;
}

.active {
    border: 1px solid #AC88FF;
}

/* cards */

.cards {
    display: flex;
    flex-direction: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
}

.card {
    padding: 1vw;
    margin: 2.8vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 2vw;
    width: 25vw;
    height: 25vw;
    color: #AC88FF;
    border: 2px solid #AC88FF;
    border-radius: 5%;
}

.img-container {
    margin-left: 2vw;
    width: 11vw;
    display: flex;
    justify-content: space-around;
}

.card span {
    text-align: center;
    width: 25vw;
}

/* mobile view */

@media(max-width: 500px) {
    nav {
        position: absolute;
    }

    .tabs {
        position: absolute;
        margin-top: 10vh;
    }

    .tab {
        text-align: center;
        font-size: 170%;
    }

    .cards {
        position: absolute;
        margin-top: 19vh;
        margin-left: 6vw;
    }

    .card {
        font-size: 300%;
        width: 80vw;
        height: 80vw;
    }

    .card .img-container {
        width: 40%;
    }

    .card span {
        width: 80vw;
    }
}